UPSTASH_REDIS_REST_URL="https://decent-gopher-324842.upstash.io"
UPSTASH_REDIS_REST_TOKEN="gQAAAAAABPTqAAIgcDEwNmQ3ODRmNjQzMzY0OGIzOTQ2ODIzNjhiYmZiOTkwYQ"
ADMIN_USERNAME=
# Use uma senha longa e exclusiva (pelo menos 16 caracteres).
ADMIN_PASSWORD=
